body,
html {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

.react-events {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.event-builder {

  input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
  }

  button {
    background: #000000;
    border-radius: 5px;
    border: 0;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
    margin: 10px 0;
  }
}

.event-list--event {
  padding: 20px;
  margin: 20px 0;
  list-style-type: none;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #FFFFFF;
}

ul {
  padding: 0;
  width: 100%;
}

.event-name {
  text-transform: uppercase;
  margin-top: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button__rsvp {
  padding: 5px 10px;
  background: #FFFFFF;
  border: 0;
  font-size: 20px;
}

.login-button {
  display: block;
  border: 0;
  padding: 10px;
  width: 300px;
  color: #FFFFFF;
  margin: 20px auto;
  background-color: #01579B;
}

.logout-button {
  display: block;
  border: 0;
  padding: 5px;
  width: 100px;
  color: #FFFFFF;
  background-color: #DD2C00;
}

.login-form input {
  padding: 10px;
  width: 300px;
}

.login {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  margin-top: 20px;
}

.nav-item--username {
  @media (min-width: 768px) {
    margin-left: auto;
  }
}

.event__content {
  background: rgba(68, 108, 179, 0.5);
  padding: 10px;
  position: relative;
}

.guests {
  display: flex;
  flex-wrap: wrap;

  .guest {
    margin: 10px;
    background: navy;
    padding: 5px 10px;
    border-radius: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.btn-delete {
  position: absolute;
  top: 0;
  right: 0;
}
